#heart{
    object-position: right top;
    float: right;
    float: top;
}
#range{
    float: left;
}
a{
    text-align: center;
    
}
h3{
    text-align: center;
}
h4{
    text-align: center;
}
.dropdown{
    text-align: center;
}

.links{
    text-align: center;
}

.genlinks{
    text-align: center;
}